body { font-family: 'Segoe UI', sans-serif; text-align: center; background: #2f3542; color: white; padding: 20px; }
p {
    text-align: left;
}

.card {display: none;}

.card.active {
    display: inherit;
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* O Canvas será retangular (panorâmico) */
canvas { 
    border: 2px solid #333; 
    background: #eee; 
    margin: 20px auto; 
    display: block; 
    image-rendering: pixelated; 
    max-width: 100%;
}

.controls { margin-top: 15px; display: flex; gap: 5px; }
button { padding: 10px; cursor: pointer; color: white; border: none; border-radius: 5px; font-weight: bold; flex: 1; }
#btnGuess { background: #ff4757; }
#btnSkip { background: #747d8c; }
button:disabled { opacity: 0.5; cursor: not-allowed; }
input { padding: 10px; font-size: 16px; border: 1px solid #ddd; border-radius: 5px; width: 100%; box-sizing: border-box; margin-bottom: 10px; }
#status { font-weight: bold; margin: 15px 0; min-height: 24px; color: #2f3542; }
.stats { font-size: 12px; color: #a4b0be; }

.btnStart { background: green; color: #2f3542;}